[2016-08-10 11:21] LukasReschke opened #10 "Add PHP 7.1 docker"
Ref https://github.com/nextcloud/docker-ci/pull/11

[2016-08-10 11:24] LukasReschke commented on #10
Ref https://wiki.php.net/todo/php71

[2016-08-10 11:29] LukasReschke commented on #10
We can probably just take http://blog.remirepo.net/post/2016/06/10/PHP-7.1-as-Software-Collection for now.

[2016-08-11 11:34] #10 closed

[2016-11-03 14:02] MorrisJobke opened #31 "Make the android image smaller"
A lot of disk space issues are there because most of the space is occupied by the ~9GB android image.

We should try to make this smaller to fit everything on Ramdisks - otherwise I need to disable Ramdisk completely.

cc @AndyScherzinger

[2016-11-03 14:02] MorrisJobke commented on #31
cc @tobiasKaminsky

[2016-11-10 18:21] tobiasKaminsky commented on #31
Is there a way that I can access/check the content of the image?

[2016-11-10 18:21] tobiasKaminsky commented on #31
If you want, just ping me on IRC.

[2016-11-11 17:27] MorrisJobke commented on #31
Run it and check it out xD

docker run -ti nextcloudci/android:android-7

[2017-03-14 01:49] #31 closed

[2017-06-03 07:00] rullzer opened #45 "Backport translations for apps"
We already backport translations to the server properly.
Would be nice to do the same for apps.

@MorrisJobke

[2017-06-03 07:38] MorrisJobke commented on #45
See #46 for a first draft, but somehow me and bash are not friends today. 😕

[2017-06-03 10:22] #45 closed

[2017-06-03 10:22] MorrisJobke commented on #45
Thanks to @rullzer and some additional changes \o/

[2018-03-17 19:22] marcelklehr opened #87 "Pick up translation strings from html files"
Over at https://github.com/nextcloud/bookmarks/issues/456 I noticed that the translations in our ejs templates, which reside in html files aren't picked up by the translation bot.

Could html be parsed for strings to translate as well?

[2018-03-19 16:52] blizzz commented on #87
@MorrisJobke

[2018-04-10 15:03] marcelklehr commented on #87
bump ;)

[2018-04-12 10:02] MorrisJobke commented on #87
Yep :) On my list :)

[2018-05-23 15:16] MorrisJobke commented on #87
@marcelklehr Sadly not yet. Quite low on my list :/

[2018-05-23 16:24] MorrisJobke opened #93 "Extract strings from info.xml"
Extract `name`, `summary` and `description` from the info XML to properly translate it on transifex.

Should be tackled together with #87.

[2018-05-23 16:31] marcelklehr commented on #87
Can I do anything to help this along? Send a PR?

[2018-05-23 16:39] MorrisJobke commented on #87
I will have a look into this later today and if not you can check if you manage to update https://github.com/nextcloud/docker-ci/blob/master/translations/translationtool/src/translationtool.php

[2018-05-23 19:42] MorrisJobke commented on #93
Fixed in fc574d0

[2018-05-23 19:42] #93 closed

[2018-05-23 19:47] #87 closed

[2018-05-23 19:51] MorrisJobke commented on #87
Was easier than I thought 🙈 - sorry that you needed to wait that long.

[2018-08-10 12:37] nickvergessen opened #100 "Ignore compiled js in a useful way"
See https://www.transifex.com/nextcloud/nextcloud/translate/#es/notifications/150036672

Would need something similar to:
https://github.com/nextcloud/docker-ci/commit/ea5ff0b187bb4e102cf2363142a8d75b9f40ea04

But I guess instead of creating a huge list in our docker-ci, it would make sense to allow the apps to specify the list themselves.

[2018-08-15 11:53] steiny2k opened #102 "Update ImageMagick in CI environment to support HEIF/HEIC test cases"
### Steps to reproduce
1. Submit a pullrequest like https://github.com/nextcloud/server/pull/10526 which requires a recent version of ImageMagick convert tool
2. CI test case fails: https://drone.nextcloud.com/nextcloud/server/9604

### Expected behaviour
Test case should report green.
![grafik](https://user-images.githubusercontent.com/462714/43985377-4e17caaa-9d07-11e8-9a9a-8b5e1e0e4024.png)

##

[2018-08-15 11:54] steiny2k commented on #102
This is a duplicate of https://github.com/nextcloud/server/issues/10668 which I think could be closed. This is probably the better place to raise this.

[2018-08-24 08:56] nickvergessen commented on #100
@rakekniven yeah do it for now ;)
PR welcome :see_no_evil:

[2018-08-24 11:26] rakekniven commented on #100
@nickvergessen I commited directly by accident. See https://github.com/nextcloud/docker-ci/commit/f50a12b643e70711384298ab75377b3ecdee3030
Sorry for not providing PR.

[2018-08-24 12:26] MorrisJobke commented on #100
I triggered and update of the images. Let's see if it builds correctly.

[2018-09-25 08:29] AndyScherzinger opened #107 "Bump Android container for gradle 4.6 and Android gradle 3.2.0"
@tobiasKaminsky do you have the time to take care of this?
Due to the latest dependency bumps the builds now have to download gradle/android-gradle again.

[2018-09-25 08:42] tobiasKaminsky commented on #107
I am unsure, if you are allowed to do releases here, but this is mostly it: create a new release here.
Then on building docker it will fetch latest build.gradle and therefore fetch all new deps.

[2018-09-25 08:47] AndyScherzinger commented on #107
@tobiasKaminsky would I have to do a release or would a tag be enough?

[2018-09-25 09:01] tobiasKaminsky commented on #107
Right, Tag is enough, but you only can do a release via webpage and not a single tag, or?

[2018-09-25 09:13] AndyScherzinger commented on #107
A release can only be done via the webpage, yes

[2018-09-25 12:41] MorrisJobke commented on #107
A tag is fine. Stick to the naming schema to trigger the auto build on docker hub. ;) (and please just count upwards ;))

[2018-09-25 13:34] AndyScherzinger commented on #107
docker image is available and already in use `android-42` :rocket:

[2018-09-25 13:34] #107 closed

[2018-09-25 13:46] tobiasKaminsky commented on #107
I know that a tag is enough, but I cannot tag via github.com, therefore I always draft a new release, which then also created a tag…

[2018-10-19 09:30] MorrisJobke commented on #100
https://github.com/nextcloud/documentation/pull/905

[2018-10-28 19:26] rullzer opened #113 "7.3 integration and acceptance test images"

[2018-11-30 14:25] korelstar opened #118 "translationtool: `/.l10nignore` vs. `/l10n/ignorelist`"
What is the state of the art for excluding files from being translated?

If I understand this correctly, `/l10n/ignorelist` was used by the old `l10n.pl` and `/.l10nignore` is used by the new `translationtool.php`. Is this correct?

Why I'm asking: `translationtool.php` has a method `readIgnoreList()` which reads from `/l10n/ignorelist` and returns the content. This method is called from `createPo

[2018-11-30 16:43] MorrisJobke commented on #118
Oh - actually I didn't knew that one 😧

Correct. Just the file `.l10nignore` - one file per line and you are done.

Wow - actually I totally seemed to miss that. It's good to go.

Is there actually using some app this? Because we now added those files to the apps we have in our transifex sync setup. If not I would say we should update the apps that still use the old way and go for that.

[2018-12-01 10:13] korelstar commented on #118
I don't know. I can't answer this, since I'm too far away from this. I don't even know if the old Perl script is still used somewhere (e.g. in `nextcloud/server`?). However, it looks like the new PHP script is used since 10 months and nobody has complained about it.

Finally, I think someone "official" from Nextcloud has to decide how to deal with this.

[2018-12-20 17:58] marcelklehr opened #125 "l10n bot appears to ignore a particularly long string?"
As seen in https://github.com/nextcloud/bookmarks/pull/621, the string defined [here](https://github.com/nextcloud/bookmarks/blob/master/js/templates/EmptyBookmarks.html#L2) appears not to get picked up by the bot.

[2019-01-08 13:00] #118 closed

[2019-01-08 13:07] MorrisJobke commented on #125
Weird - it seem to be not related to the length, because if I delete the first entry from that file the string is extracted properly. Looks like it stops after the first finding. 🤔

[2019-01-08 13:12] MorrisJobke commented on #125
I guess this is related to the fact, that it uses this template language. We try to map this HTML file as JS and tell xgettext, that it should look for JS functions. But due to the HTML tags it doesn't find the two distinct occurrences :/

Also I have no idea how to fix this properly except writing our own extractor for this kind of syntax 😢

[2019-01-09 13:50] marcelklehr commented on #125
This will have to wait until the bookmarks app is converted to vue, then.

[2019-01-09 13:50] #125 closed

[2019-08-19 08:55] juliushaertl opened #161 "Tranlations: Allow apps to specify backport branches"
For apps that don't follow the server versions with their stable branches, translations are never updated on those.

Ideally apps should be able to specify a list of stable branches in their config which gets added to https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppTranslations.sh#L68 and https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppTranslations

[2019-09-01 14:24] kesselb opened #164 "Update PHP 7.3"
![image](https://user-images.githubusercontent.com/3902676/64077873-cf073580-ccd4-11e9-8eff-04d2df4900ea.png)

[2019-11-28 10:11] #164 closed

[2020-01-27 16:41] stefan-niedermann opened #198 "Support fastlane"
Dear @MorrisJobke,

is it possible to add support for `fastlane`?

If you don't know it, it's basically like a folder/file-structure convention to store simple `.txt`-files containing descriptions, release notes and some other details for android apps (+ some image files which do not matter in the scope of this issue of course).

You can find a sample structure in the [repository for Nextcloud Not

[2020-01-27 16:49] stefan-niedermann opened #199 "How to include specific .txt-file in transifex-bot?"
Hey @MorrisJobke,

here another request: I want to add some kind of description about how to use markdown for the Notes app (https://github.com/stefan-niedermann/nextcloud-notes/issues/116).

I could store the text in the `strings.xml`-file and it would be translated by transifex. But i do not really want to do that for clarity reasons. Ideal for me was if i could simply place a plain `.md`- or `.

[2020-01-28 06:22] tobiasKaminsky commented on #198
https://github.com/nextcloud/android/blob/40c30357b5fb24f4a576ac68ea7664ea4113a1d4/scripts/metadata/generate_metadata.py

Please see this script and adjust variables to your need.
It takes the transifex source files and puts it into correct fastlane folders:
- store_short_desc
- store_full_desc
- store_short_dev_desc
- store_full_dev_desc

If it is in scripts/metadata/generate_metadata.py, it will

[2020-01-28 06:24] tobiasKaminsky commented on #199
We could extend generate_metadata.py to also translate this file, but then it is just like everything else in Transifex…

[2020-01-28 07:55] stefan-niedermann commented on #199
After some research i think the `raw` folder (which is localized analog to `strings`) is the "android-way" to put localized `.txt`-files in an android app.

But this is exactly what i want to achieve - everything in `raw` should go to transifex, get translated there and getting pushed back to my repository.

As far as i understood, the `generate-metadata` script is only processing the already tran

[2020-01-28 13:31] tobiasKaminsky commented on #199
This is possible, but as far as I know, it it would be for each file a new resource within nextcloud
(next to android-notes)

So something like
- androidNotes
 - androidNotes-RawFile1
- androidNotes-RawFile2

[2020-02-03 16:55] HomeITAdmin opened #201 "Translation for Geoblocker App"
Hello,

I followed the instruction from here to be able to add tanslation for the Geoblocker App for Nextcloud:
[Adding Translations](https://docs.nextcloud.com/server/latest/developer_manual/app/view/l10n.html#adding-translations)

But nothing seems to reach Transifex, so obviously I am missing something or doing something wrong. Any hint where to start looking?

[Geoblocker App](https://github.c

[2020-02-03 17:04] skjnldsv commented on #201
cc @rullzer @blizzz

[2020-02-03 20:16] rullzer commented on #201
A git pull was missing
should show up this evening.

[2020-02-04 07:51] rullzer commented on #201
And it shows up on transifex

[2020-02-04 19:00] HomeITAdmin commented on #201
@rullzer Thanks a lot.
For me to learn, did I do something wrong? If yes, when and where ;-) ?

[2020-02-04 19:16] rullzer commented on #201
No, you didn't. For some reason the config file did not get deployed.
Something else. Could you remove the nextcloud-bot as a collaborator and add it again. Seems I missed the e-mail to accept the invite on that account as well.

[2020-02-04 20:17] HomeITAdmin commented on #201
Ok, I removed the nextcloud-bot and added it again.

[2020-02-05 09:06] rullzer commented on #201
Ok it now has access.
Can you give it additional access? Right now it doesn't have permission to push to master as it is an protected branch.

[2020-02-05 20:49] HomeITAdmin commented on #201
With a user account there is only one access level according to the documentation of Github.

I only activated the branch protection because it is recommended in the documentation [Adding Translation](https://docs.nextcloud.com/server/latest/developer_manual/app/view/l10n.html#adding-translations). I played a little bit around with it and activated "Require pull request reviews before merging". Co

[2020-02-05 22:14] blizzz commented on #201
@HomeITAdmin yes, the bot must be able to push directly to that branch.

[2020-02-06 11:31] rullzer commented on #201
And there it is https://github.com/HomeITAdmin/nextcloud_geoblocker/commit/eb91ac0766b252e86a13e58b437ebcfe88f90be3

[2020-02-06 11:31] #201 closed

[2020-03-06 22:40] SergeyMosin opened #207 "nextcloud-bot invite pending for about a week now"
Appointments app: https://github.com/SergeyMosin/Appointments

![Screenshot_2020-03-06_17-31-04](https://user-images.githubusercontent.com/10747559/76128068-51005000-5fd1-11ea-82b0-e595e5a9df16.png)

[2020-03-09 08:43] rullzer commented on #207
Mmmm I have not seen the invite.
Can you resend it?

[2020-03-09 11:55] SergeyMosin commented on #207
I just removed and added the nextcould-bot again as the contributor.
Thank you

[2020-03-11 11:53] SergeyMosin commented on #207
Hi am I doing something wrong?
I have re-added the nextcloud-bot, and followed directions as per https://docs.nextcloud.com/server/latest/developer_manual/app/view/l10n.html#adding-translations

Any advise would be appreciated, thank you.

[2020-03-11 13:27] rullzer commented on #207
Invite accepted. You did it OK. I was just mostly away from my laptop for 2 days due to a sick kid

[2020-03-11 13:28] #207 closed

[2020-03-19 18:32] christianlupus opened #210 "No data is visible on transifex"
I tried to configure the [repo](https://github.com/mrzapp/nextcloud-cookbook) according to [the documentation here](https://docs.nextcloud.com/server/13.0.0/developer_manual/app/l10n.html#setup-of-the-transifex-sync). Yesterday the PR #209 was accepted. The repo is publicly visible, the mail of adding the bot as a collaborator was sent, I do not know if it was already confirmed.

However, I assume

[2020-03-20 06:19] christianlupus commented on #210
OK, I have to update the issue. It seems that this morning the bot read in the sources into transifex and created a [subproject](https://www.transifex.com/nextcloud/nextcloud/cookbook/). That is nice to hear.

The next question is: How can we import the existing `*.po` files into transifex to avoid having to retranslate everything? Here I seek advice/help.
Thanks

[2020-03-20 06:37] christianlupus commented on #210
OK, I just joined all relevant languages and were able to upload the `po` files there. I think this is it for now. Closing as we have to see if everything is working as expected.

[2020-03-20 06:37] #210 closed

[2020-06-04 17:55] mrkara opened #227 "Add richdocumentscode for translation"
PR for initial i18n/l10n work on the richdocumentscode side: https://github.com/CollaboraOnline/richdocumentscode/pull/29
PR for the CI side: https://github.com/nextcloud/docker-ci/pull/226

Followed instructions here: https://docs.nextcloud.com/server/latest/developer_manual/app/view/l10n.html

By looking at the instructions and the config.json here, it seemed like the app is assumed to be on the

[2020-06-07 17:04] stefan-niedermann commented on #199
Okay, so now the topic is getting serious. I have [a PR with a big text file](https://github.com/stefan-niedermann/nextcloud-notes/pull/857/files#diff-db1b727c667a2f69f0bb16b5f04d07ae) for the Notes app which needs to get translated.

@tobiasKaminsky [your proposal](https://github.com/nextcloud/docker-ci/issues/199#issuecomment-579246691) is fine for me and i don't expect further files to follow.

[2020-06-08 19:40] stefan-niedermann commented on #199
I solved it by moving all the stuff into my `strings.xml`...

[2020-06-08 19:40] #199 closed

[2020-06-14 10:26] christianlupus opened #228 "Migration to Vue.js causes trouble with transifex"
Hello,

the app [cookbook](https://github.com/mrzapp/nextcloud-cookbook) just migrated to Vue.js. Unfortunately, the translation system got broken by it. Almost all translation files were dropped by the bot.

I assume, that the bot did not correctly detect the Vue sources and thus removed non-required entries from the `l10n` files. Of course, we do not want to lose all the translations yet done. S

[2020-06-16 06:22] skjnldsv commented on #228
cc @juliushaertl @ChristophWurst

[2020-06-16 06:51] christianlupus commented on #228
It seems that [some changes in our code[(https://github.com/mrzapp/nextcloud-cookbook/pull/258) brought back the translation files.

We will keep an eye on the commits of the bot for now. If this was the required solution, I'd advice you to put this information into the documentation if possible.

[2020-06-16 06:58] ChristophWurst commented on #228
Yes, you need to use `t` with two parameters. That is how the l10n tool is configured.

[2020-06-16 09:42] christianlupus commented on #228
Are you willing to keep this issue open for reminder to update the documentation or should I close it?

[2020-06-16 11:42] ChristophWurst commented on #228
What update do you need? The JavaScript l10n is documented at https://docs.nextcloud.com/server/19/developer_manual/app/view/l10n.html#javascript

[2020-06-16 13:46] christianlupus commented on #228
Yes, I am sorry. I thought with plain JavaScript the single parameter version would be sufficient. My bad, I just saw it was there all the time but a rework to Vue.js dropped it.

Sorry for bothering you.

[2020-06-16 13:46] #228 closed

[2020-06-16 13:49] ChristophWurst commented on #228
No worries :)

[2020-06-17 15:28] stefan-niedermann opened #230 "When translated strings for a language fall below 50%, they are not removed on Android"
When a translated language falls below the 50% mark, they won't get pushed anymore back from transifex to the upstream repository.

To avoid outdated translations in the upstream repository, there is a delete command to clean up such little translated but no longer pushed languages:
https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppTranslations.sh#L80-L81

It seems though, t

[2020-06-19 06:18] tobiasKaminsky commented on #230
All Android related projects use https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh

But it is also not there. I will create a PR :+1:

[2020-06-19 06:30] stefan-niedermann commented on #230
Ooh, so every app that uses the bot has to be added to [this list](https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh#L17)? Maybe some kind of wildcard based solution would be better than? 🤔

[2020-06-19 07:27] tobiasKaminsky commented on #230
No, https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh#L26 this already applies to your Deck app…
At least "should"…

[2020-06-19 08:13] tobiasKaminsky commented on #230
https://github.com/nextcloud/docker-ci/blob/master/translations/Dockerfile-ExternalAndroid-Branched

is being used and thus 75% is minimum.
If you want to change this, please open up a PR.

[2020-07-02 20:28] MorrisJobke commented on #227
Looks like it was done in the meantime: #226

https://github.com/nextcloud/docker-ci/blob/master/translations/config.json#L66

[2020-07-02 20:28] #227 closed

[2020-10-25 12:14] Teifun2 opened #247 "Using transifex for Nextloud related app"
Hello

I was told to ask here for help with transifex.

Im currently developing a smartphone app  https://github.com/Teifun2/nextcloud-cookbook-flutter for a nextcloud "plugin" https://github.com/nextcloud/cookbook. This nextcloud plugin is already integrated with the nextcloud transifex project. As the smartphone app to this plugin will mostly contain the same "texts" that need translation i was

[2020-10-25 21:51] MorrisJobke commented on #247
Theoretically it makes sense, but in reality it's also a lot of work to get the translations of both projects merge them and then put them in transifex. Also this then needs to be kept in sync between the projects (especially spaces and escape sequences could be tricky to match). beside that the transifex tool proposes to just copy the translation for the very same string over from another project

[2020-10-26 15:35] MorrisJobke opened #248 "Sync translations from/to Gitlab"
For https://gitlab.com/joleaf/nc-passwords-app/-/issues/6

[2020-11-21 13:43] Teifun2 commented on #247
First of all Thanks a lot for your thorough answer! And excuse me for my late reply!

I looked into it and i probably would use the following library to integrate localization into my app:
https://pub.dev/packages/flutter_translate/example

It seems that this library uses Structured  i18n JSON format, which seems to be a supported format of transifex:
https://docs.transifex.com/formats/json/struct

[2020-11-23 21:10] MorrisJobke commented on #247
That's how we do it in other repos as well. We generate a file that transifex supports.

If it follows their description, then I guess so.

As it is on their docs I would assume that it works.

[2020-12-06 12:40] Teifun2 commented on #247
Hello im back.

I now added the first translation (en) to my application. Along with the .tx/config file and i invited the nextlcoud-bot to join my repo.

Now as far as i know the only thing left for me to do is to add my repo owner and repo name to the ci configuration file.
I was a little confused because there seem to be different "categories" and i was unsure to which of these i should add my

[2020-12-11 08:34] tobiasKaminsky opened #256 "Android translation does not work anymore"
I re-did the same steps locally and cannot find a mistake.

Do we have any logs?
I would be interested in src/main/res/values/strings.xml

@blizzz maybe?

[2020-12-11 10:56] blizzz commented on #256
Something's broken

![Screenshot_20201211_115506](https://user-images.githubusercontent.com/2184312/101895418-cbd14980-3ba7-11eb-9be9-a7344a4d9466.png)

does it help?

[2020-12-11 16:22] tobiasKaminsky commented on #256
No, as said above:

So that I can see what the problem is.

[2020-12-15 16:38] tobiasKaminsky commented on #256
There was a linewrap in strings.xml on master branch which confused our system…

[2020-12-15 16:38] #256 closed

[2021-01-12 06:56] christianlupus opened #259 "Regex issue during transifex string extraction - strings are not extracted"
Hello. I am currently checking on the issue nextcloud/cookbook#495. I first thought the problem to be in our code. To narrow down the problem, I manually ran the translation tool with `create-pot-files` to check the `*.pot` file generated.

Surprisingly, the `.pot` file contained the relevant part that was criticized in the named issue. One example would be the strings `Fat total` and `Fat content

[2021-01-12 16:57] MorrisJobke commented on #259
Yep it runs without errors.

Correct. It should also work just fine. As we use the exact same tool there. Maybe the Dockerfile-App container still has an outdated translation tool phar. Let me rebuild it and maybe tomorrow everything works.

[2021-01-13 10:12] christianlupus commented on #259
I just checked on transifex and the `Fat total` string is not present and ready for translation. We had no changes in the translations tonight.

Can you eventually check the generated `.pot` file and/or the transmitted files to transifex somehow?

[2021-01-15 21:54] MorrisJobke commented on #247
Sorry - I'm just back here after working through a long list of notifications. Do you mind to send the invitation again.

Let me add this then.

[2021-01-15 22:06] MorrisJobke commented on #247
Should work once the bot has the push right. Resources are at https://www.transifex.com/nextcloud/nextcloud/cookbook_flutter/

[2021-01-15 22:06] #247 closed

[2021-01-16 21:15] Teifun2 commented on #247
@MorrisJobke Thanks for you help! I did resend the invitation!

[2021-01-18 12:21] christianlupus commented on #259
@MorrisJobke Is there anything, I can help with to track down the problem?

[2021-01-18 13:07] MorrisJobke commented on #247
Mmmmh .... now the mandatory "CI step "build" needs to pass" fails the push. Should I push to a specific branch instead?

[2021-01-19 21:14] Teifun2 commented on #247
Is it currently pushing to develop? Develop is what I would prefer but a specific branch is also ok! Is it failing in the forked repo?

[2021-01-19 21:16] Teifun2 commented on #247
I checked the fork and did not see any changes, how does the build job fail the push? I have never had this issue even if I broke the build job with my push!

[2021-01-19 21:28] MorrisJobke commented on #247
It pushes currently to master on your repo directly. :)

[2021-01-19 21:28] MorrisJobke commented on #247
Should I change to "develop"? Or to any other branch and you merge this from time to time into develop yourself?

[2021-01-19 21:41] Teifun2 commented on #247
Then lets put it to branch "transifex" and i will merge myself from time to time. I Anyways need to activate new languages in the code as the library only grabs specifically defined languages!

[2021-01-19 21:48] MorrisJobke commented on #247
336ecee

[2021-01-19 21:51] MorrisJobke commented on #247
And there it is: https://github.com/Teifun2/nextcloud-cookbook-flutter/tree/transifex

[2021-01-20 06:50] Teifun2 commented on #247
Thanks again for all of your help!

[2021-02-12 12:44] christianlupus opened #265 "Translations of long strings vs code styling"
Hello,

I have a longer text that needs to be localized. It is a description of an error case and how the user has to solve it.

When thinking of code styling, such a text will likely need to be broken into multiple lines to fit into the code styling requirements. However in the [parser of the translationtool](https://github.com/nextcloud/docker-ci/blob/805773f426cf2e82bca046edfcfa9530be5b60fd/tra

[2021-02-12 17:09] christianlupus commented on #259
@MorrisJobke I think, I found the culprit of this issue. In our codebase, we have some lines with not only a single translation string but additional (possible non-translated content) as well. Example:
[code]

The problem is the [greedy regular expressions in the translation tool](https://github.com/nextcloud/docker-ci/blob/805773f426cf2e82bca046edfcfa9530be5b60fd/translations/translationtool/src/

[2021-02-14 21:21] rakekniven commented on #265
Big strings like info.xml are a real pain using Transifex for translation. Please separate them if possible. Jm2c from translators view.

[2021-02-15 14:49] christianlupus commented on #265
@rakekniven you mean to separate e.g. the sentences? Because it is discouraged to split up sentences as the grammar might break if I am not completely mistaken.

[2021-02-15 15:46] rakekniven commented on #265
If there are more than 300 words there is a issue with the web interface of Transifex.
Your comments are valid AFAIK. But as long as the sentences are complete it will work to separate long text :-)

[2021-03-19 09:01] #161 closed

[2021-04-25 16:11] christianlupus commented on #259
@MorrisJobke May I ask for your thoughts on it? Should I look for the `n(...)` part as well and open a PR? Or do you consider it obsolete or see other issues with the solution? Otherwise, I'd suggest closing the issue if it is not intended (anymore).

[2021-05-14 11:09] #265 closed

[2021-06-22 19:09] tpokorra opened #294 "translationtool does not catch L10n text from .vue files"
for example in https://github.com/rullzer/twofactor_email/blob/55d07312d30fdd828ba8c443b21cef0abb982ec7/src/components/GatewaySettings.vue#L12

[code]
It does not seem the regex in https://github.com/nextcloud/docker-ci/blob/master/translations/translationtool/src/translationtool.php#L319 catches those texts

[2021-06-26 20:52] rakekniven commented on #294
Nice catch.
Did you a grep and know how many occurences there are?

[2021-06-26 21:15] tpokorra commented on #294
https://github.com/rullzer/twofactor_email/search?q=%22L10n+text%3D%22

and a grep:

[code]

[2021-06-26 21:20] rakekniven commented on #294
Not sure if your PR is necessary. Many, many NC apps are using Vue and IMHO the code has to be adapted.
t('resource', 'stringtotranslate')

@rullzer Am I right here?

[2021-06-27 09:53] JonathanTreffler opened #299 "Nextcloud Bot pending invite"
I added the translation configuration for my project fractava/biblio to this repository in #297.
I have also sent a collaborator invite to the Nextcloud Bot on Github, but so far the invite is not accepted and no commits by the bot have been pushed.

![bot invite](https://user-images.githubusercontent.com/28999431/123540190-17130a00-d73e-11eb-9ef8-818d24919410.png)

Is there anything else I need t

[2021-06-28 05:37] skjnldsv commented on #299
You need to wait
cc @blizzz

[2021-06-28 13:57] blizzz commented on #299
accepted

[2021-06-28 13:57] #299 closed

[2021-07-17 17:50] rakekniven commented on #294
@tpokorra I will adapt the code to use NC default l10n code. Ok?

[2021-07-17 18:16] tpokorra commented on #294
@rakekniven That would be great! Thank you!

[2021-07-19 06:08] tobiasKaminsky opened #305 "ghcr.io are not found for "special" dockers"
For Android e.g translations-plain is needed.
Which is configured on hub.docker.com like:

Type: Tag
Source: /translations-plain-.*/
Dockerfile location: /translations/Dockerfile-Plain

Can we have such a workflow? @LukasReschke

[2021-07-19 06:10] tobiasKaminsky commented on #305
Seems file parameter can be used: https://github.com/docker/build-push-action

[2021-07-30 07:52] #305 closed

[2021-09-29 18:58] nursoda commented on #294
What's the status here @rakekniven? Will the tool now catch the OP's example?

[2021-10-31 17:34] rakekniven commented on #294
@tpokorra As written above the app should use other translation mechanism and therefor your PR is not necessary.
We will close here.

[2021-11-12 16:39] rakekniven opened #325 "Add project "analytics" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @Rello https://github.com/Rello/analytics/issues/202
- [x] App repo: Add ignore file -> @Rello https://github.com/Rello/analytics/issues/202
- [x] App repo: Add l10n folder -> @Rello https://github.com/Rello/analytics/issues/202
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @Rello
- [x] docker-ci: add repo info to config.json -

[2021-11-13 19:15] rakekniven opened #326 "Add project "backup" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @ArtificialOwl
- [x] App repo: Add ignore file -> @rakekniven https://github.com/nextcloud/backup/pull/66
- [x] App repo: Add l10n folder -> @ArtificialOwl
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @ArtificialOwl
- [x] docker-ci: add repo info to config.json -> rakekniven Details: #327
- [x] Sysadmins of NC: Deploy internal

[2021-11-15 13:06] rakekniven commented on #326
Hello @ArtificialOwl ,

there are some problems with setting up the sync.
@blizzz is looking at it.

[2021-11-17 06:11] rakekniven commented on #326
All done.

[2021-11-17 06:11] #326 closed

[2021-11-19 05:53] rakekniven opened #329 "Add project "audioplayer" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @Rello
- [x] App repo: Add ignore file -> @Rello
- [x] App repo: Add l10n folder -> @Rello
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @Rello
- [x] docker-ci: add repo info to config.json -> rakekniven  #330
- [x] Sysadmins of NC: Deploy internally to tx sync process -> @blizzz
- [x] Transifex: New resource should appear -> r

[2021-11-22 16:33] rakekniven commented on #329
Works!

[2021-11-22 16:33] #329 closed

[2021-11-22 16:51] rakekniven commented on #325
As this is a longer story and still not finished I will summarize here what happened the last 10 days.

The repo has been prepared like always, resource has been added to docker-ci, bot was added to repo with necessary rights.
Someone from NC deployed it internally and sync was triggered.
Nothing happened.
The next morning 6AM CET the sync ran and resource "analytics" showed up nicely at Transifex

[2021-11-23 09:09] rakekniven commented on #325
🎉 The last try from yesterday has solved it!

[2021-11-23 09:10] #325 closed

[2021-11-23 21:42] #294 closed

[2021-11-24 13:59] rakekniven opened #331 "Deploy improvement for translation of vue files"
@nickvergessen Has this improvement been deployed internally at NC?
Some new changes in vue files at GitHub does not show expected developer notes.

_Originally posted by @rakekniven in https://github.com/nextcloud/docker-ci/issues/321#issuecomment-977170382_

[2021-12-05 09:17] rakekniven opened #333 "Add project "checksum" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @westberliner
- [x] App repo: Add ignore file -> @westberliner
- [x] App repo: Add l10n folder -> @westberliner
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @westberliner
- [x] docker-ci: add repo info to config.json -> rakekniven   #332
- [x] Sysadmins of NC: Deploy internally to tx sync process -> @blizzz
- [x] Transifex: Ne

[2021-12-05 09:39] rakekniven commented on #333
@blizzz Can you please accept the bot's invitation and deploy?
Thanks.

[2021-12-06 15:14] come-nc opened #336 "Drop obsolete versions of PHP"
This repository is getting crowded.

Can I open a PR to drop all images specific to PHP versions below 7.3 that have an equivalent for a newer version?

Maybe keep 7.2 as well, if needed to test things on older Nextcloud versions (7.2 support was dropped in Nextcloud 21, 7.1 in 18 according to documentation).

[2021-12-10 18:47] rakekniven commented on #333
Hello @blizzz , please do the normal steps if you can spend some minutes. Gracias.

[2022-01-03 09:38] blizzz commented on #333
It does not seem we received an invitation for the nextcloud bot to westberliner/checksum.

[2022-01-03 09:55] westberliner commented on #333
Hi @blizzz, I readded the invitation. Could you check again?

[2022-01-04 09:17] blizzz commented on #333
There seems to be a permission issue left. The bot must be able to push directly, right now it is being blocked by a review requirement.

[2022-01-04 22:43] rakekniven opened #341 "Sync for czech language is not working"
Today https://help.nextcloud.com/t/missing-strings-in-czech-translation/130459/7 came up.

I checked Transifex for mentioned strings and everything is in place.

A look at https://github.com/nextcloud/server/tree/master/apps/files_sharing/l10n shows that czech language hasn't been updated for 5 years.

Did I miss something?

@blizzz Can you check or forward to someone?

Reporting user is using NC

[2022-01-05 10:17] blizzz commented on #341
It's not the only language that was not updated for x years.

@nickvergessen do you have a clue?

[2022-01-05 11:02] westberliner commented on #333
The main branch was protected. Should be fixed now.

[2022-01-05 11:31] blizzz commented on #333
Allowing the bot to push there should be sufficient (make it admin). In any case, first translation arrived now!

[2022-01-05 21:32] rakekniven commented on #341
Are you sure it works this way?
I was thinking that languages which are completed below 50% are not released.
The sync should always take place IMHO.

[2022-01-05 22:15] nickvergessen commented on #341
But it's in all repos:
https://github.com/nextcloud/spreed/blob/master/.tx/config#L3

[2022-01-05 22:16] nickvergessen commented on #341
The selection in the UI is `cs` as well.
So they just always translated the wrong group on transifex and eventually removed it?

[2022-01-05 22:17] rakekniven commented on #341
On Transifex there is only one czech language.

That is way I am asking to delete the cs_CZ files from GitHub.

[2022-01-05 22:21] rakekniven commented on #341
See issue https://github.com/nextcloud/server/issues/30501 I filed minutes ago.

[2022-01-05 22:21] nickvergessen commented on #341
https://github.com/nextcloud/docker-ci/blob/master/translations/handleTranslations.sh#L56-L57

Here is the part where we only download translations which are 50+ percent translated.
Only lib is fetched with 0% and settings with 20%

[2022-01-05 22:23] nickvergessen commented on #341
Yes, and that is exactly what the lang map should do 🤔

[2022-01-05 22:26] nickvergessen commented on #341
Also the mapping still works in Talk:
https://github.com/nextcloud/spreed/blob/master/l10n/cs.js

[2022-01-05 22:40] rakekniven commented on #341
OK, back to original issue.
User says this string does not show up correctly localized:
https://www.transifex.com/nextcloud/nextcloud/translate/#cs_CZ/files_sharing/157797997

This string has been translated at Transifex years ago and it is part of the cs file:
https://github.com/nextcloud/server/blob/773c4079653e3ce804d19de0261037405c7756e6/apps/files_sharing/l10n/cs.json#L127

Just checked my lo

[2022-01-05 22:42] nickvergessen commented on #341
Okay, so cs_CZ should not exist in our files anymore and might really cause the problem. If (for whatever reason) a user has cs_CZ set as language (force language, default language, browser language) and cs_CZ exists, the file will be used instead of us falling back to the cs files which are newer:
https://github.com/nextcloud/server/blob/773c4079653e3ce804d19de0261037405c7756e6/lib/private/L10N/F

[2022-01-05 22:45] rakekniven commented on #341
I will ask the user to manually delete the files on his installation and report back.

[2022-01-07 20:27] rakekniven commented on #341
Post from user:

@nickvergessen So should I do one manual cleanup or will you adapt the bot?

[2022-01-07 21:32] nickvergessen commented on #341
I think we have to remove them manually. The language does not exist, so zhe sync can not remove it 🙈

[2022-01-09 11:15] mikulik86 commented on #341
There seems to be a similar issue also with Slovak language. Just FYI.

Anyway, thanks to you guys for such a quick taking care of that.

[2022-01-09 13:44] rakekniven commented on #341
Ok, thanks for the information.

[2022-01-10 11:22] #341 closed

[2022-01-11 13:21] #333 closed

[2022-01-30 20:14] rakekniven opened #348 "Add project "integration_openproject" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @eneiluj
- [x] App repo: Add ignore file -> @eneiluj
- [x] App repo: Add l10n folder -> @eneiluj
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @eneiluj
- [x] docker-ci: add repo info to config.json -> @eneiluj   #347
- [x] Sysadmins of NC: Deploy internally to tx sync process -> @blizzz
- [x] Transifex: New resource should appe

[2022-02-01 09:32] eneiluj commented on #348
@rakekniven Thanks.

"nextcloud bot" has been invited before creating #347. Did you leave this task unchecked because you didn't know or because something is wrong about that?

[2022-02-01 09:36] rakekniven commented on #348
Nothing is wrong. I was not aware of it and my permissions are not sufficient to check it myself.
Good work.

[2022-02-01 09:36] #348 closed

[2022-02-01 09:36] eneiluj commented on #348
There was a successful translation commit from the bot: https://github.com/nextcloud/integration_openproject/commit/cc64b2d2f8736269cf102b6b3e7930d78bd57af7

We can close this if you want.

[2022-02-15 19:42] rakekniven opened #354 "l10n: Add mjs to list of javascript filename extensions"
App gestion started to use javascript files with extension "mjs".

mjs is a extension for module files.

Docs:
* https://v8.dev/features/modules#mjs
* https://v8.dev/features/modules#mjs

See https://github.com/baimard/gestion/issues/146 as issue reference.

[2022-02-15 19:52] rakekniven commented on #354
@nickvergessen Is it enought to add "mjs" to https://github.com/nextcloud/docker-ci/blob/a5ee7044742660086f5c1e8019cd7a183f5649b1/translations/translationtool/src/translationtool.php#L70 ?

[2022-02-15 20:22] nickvergessen commented on #354
I guess so?

[2022-02-17 18:50] #354 closed

[2022-02-20 10:35] shiningw opened #356 "Please add ncdownloader for translation"
Hello,
Please add ncdownloader for translation.
https://github.com/shiningw/ncdownloader
Thank you!

[2022-02-20 11:12] #356 closed

[2022-02-22 15:01] nickvergessen commented on #331
Yeah sorry, looks like it. But I have no clue where this goes wrong

[2022-02-22 15:12] rakekniven commented on #331
As I do not have any insights of the NC infrastructure I cannot help here 😞

[2022-02-23 05:53] rakekniven commented on #331
It is working now. Just checked strings of daily run and it is fine now 😆

[2022-02-23 05:53] #331 closed

[2022-02-23 07:59] nickvergessen commented on #331
🙄

[2022-02-28 10:29] nickvergessen opened #358 "Add file extension "mjs" to list of translatable files"
The PR has been merged. But the strings from MJS files are still missing.
As there is no issue for this I am kindly asking for help to solve this.

_Originally posted by @rakekniven in https://github.com/nextcloud/docker-ci/issues/355#issuecomment-1054105864_

[2022-03-05 07:08] baimard commented on #358
Any news :) ?

[2022-03-07 09:49] okaeiz opened #360 "Nextcloud translation to Persian (Farsi)"
Hi there!
We have deployed Nextcloud recently and need to localize the interface - which is already done; but incompletely - and want to know how we can include our translations.

[2022-03-10 09:35] #358 closed

[2022-03-10 09:54] nickvergessen commented on #358
A recompiling of the translationtool.phar was missing.
This was done, a new docker image created, a manual sync triggered and it worked as per https://github.com/baimard/gestion/issues/146#issuecomment-1063865293

[2022-03-10 09:55] baimard commented on #358
Very nice team work !

Merci beaucoup beaucoup !

[2022-03-14 09:41] nickvergessen opened #366 "Android files app translating fails"
[code]

Either it needs a version switch or you need to remove stable-3.18

_Originally posted by @nickvergessen in https://github.com/nextcloud/docker-ci/issues/364#issuecomment-1066570838_

[2022-03-14 11:00] tobiasKaminsky commented on #366
Fixed by removing old stable branches.

[2022-03-14 11:34] #366 closed

[2022-03-14 12:53] nickvergessen commented on #360
You need to join the translators team on Transifex:
https://www.transifex.com/nextcloud/teams/64236/fa/

[2022-03-14 12:53] #360 closed

[2022-03-14 12:54] nickvergessen commented on #336
From my POV we could keep them all.

[2022-03-14 13:09] nickvergessen commented on #259
I'm fine either way. However I'd slightly prefer to not change it, so existing apps are less likely to break

[2022-03-14 13:09] #259 closed

[2022-03-14 13:13] nickvergessen commented on #113
https://github.com/nextcloud/docker-ci/tree/master/integration-php7.3
https://github.com/nextcloud/docker-ci/tree/master/acceptance-php7.3

[2022-03-14 13:13] #113 closed

[2022-03-15 07:10] skjnldsv commented on #336
I would be ok to drop them, maybe still create dedicated branches for those old versions though. Just so it's easier to find them back if needed?
But this repo is really messy, a little cleanup would not hurt :broom:

[2022-03-18 09:12] rakekniven commented on #360
Add https://help.nextcloud.com/t/no-response-from-the-translators-team-reviewers/135570 for reference

[2022-05-13 20:52] rakekniven opened #376 "Add project "Transfer" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @danth
- [x] App repo: Add ignore file -> @danth
- [x] App repo: Add l10n folder -> @danth
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @danth
- [x] docker-ci: add repo info to config.json -> danth   #370
- [x] Sysadmins of NC: Deploy internally to tx sync process -> @blizzz
- [x] Transifex: New resource should appear -> rakek

[2022-05-13 20:53] rakekniven commented on #376
Related to https://github.com/danth/transfer/issues/9

[2022-05-14 07:38] danth commented on #376
This has now been done.

[2022-05-14 14:29] rakekniven commented on #376
Ok, I will see if I can reach the needed person at Nextcloud next week.

[2022-05-16 16:12] rakekniven opened #377 "Add project "diary" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @danielroehrig
- [x] App repo: Add ignore file -> @danielroehrig
- [x] App repo: Add l10n folder -> @danielroehrig
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @danielroehrig
- [x] docker-ci: add repo info to config.json -> @danielroehrig   #373
- [x] Sysadmins of NC: Deploy internally to tx sync process -> @blizzz
- [x] Trans

[2022-05-17 20:33] danielroehrig commented on #377
Hi @rakekniven I invited nextcloud bot to become a collaborator, but it didn't accept yet. Also, I don't know which config.json you mean. Can you point me in the right direction?

[2022-05-18 05:44] rakekniven commented on #377
Your PR already addressed the correct file. Link to file: https://github.com/nextcloud/docker-ci/blob/master/translations/config.json

Sometimes we need to be patient 🍿

[2022-05-18 11:04] blizzz commented on #376
- invitation was accepted
- tx syncing id deployed, but:

![Screenshot_20220518_130333](https://user-images.githubusercontent.com/2184312/169024557-fdd7cbdf-ea08-4ae0-b73e-8ac1adee6dc3.png)

yet another reserved word at transifex?

[2022-05-18 11:06] blizzz commented on #377
I do not see a current invite

[2022-05-18 13:22] danielroehrig commented on #377
![image](https://user-images.githubusercontent.com/12596513/169048662-4da191b5-f46b-44e5-98af-a10d7d6093dd.png)
I will try again

[2022-05-18 16:28] blizzz commented on #377
@danielroehrig aye, and accepted!

[2022-05-19 08:04] rakekniven commented on #376
Good point. I will check.

[2022-05-20 06:21] rakekniven commented on #376
Renamed resource to "transfer" at Transifex. Slug name is still "nextcloud-transfer" due to reserved words for slugs.

[2022-05-20 06:23] rakekniven commented on #377
Still no files have been pushed to diary GH repo 🤔

[2022-05-20 10:04] rakekniven commented on #377
Works now. Closing here.

[2022-05-20 10:04] #377 closed

[2022-05-20 15:15] rakekniven commented on #376
Transifex has some reserved words to use for a slug (resource) on their system. Unfortunately this words are not documented and this is a pain, like here. No fault on your side. We now know on how to get around.

[2022-05-21 11:13] danth commented on #376
There has been a [successful sync](https://github.com/danth/transfer/commit/fcb62dc01eca2dd03c52978067d765536a49aff3) of the translations from Transifex! Some strings are missing, however there is a [separate issue for that](https://github.com/danth/transfer/issues/25).

[2022-05-21 12:01] #376 closed

[2022-06-26 16:56] Raudius opened #382 "Add project "files_scripts" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @raudius
- [x] App repo: Add ignore file -> @raudius
- [x] App repo: Add l10n folder -> @raudius
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @raudius
  - [x] Invite pending
- [x] docker-ci: add repo info to config.json -> https://github.com/nextcloud/docker-ci/pull/381
- [x] Sysadmins of NC: Deploy internally to tx sync proce

[2022-06-27 10:02] rakekniven commented on #382
@blizzz Can you apply invitation?

[2022-07-05 08:14] blizzz commented on #382
done

[2022-07-06 17:10] rakekniven commented on #382
It works!

[2022-07-06 17:10] #382 closed

[2022-07-30 15:09] rakekniven opened #394 "Add project "recognize" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @marcelklehr
- [x] App repo: Add ignore file -> @marcelklehr
- [x] App repo: Add l10n folder -> @marcelklehr
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @marcelklehr
  - [ ] Invite pending
- [x] docker-ci: add repo info to config.json -> https://github.com/nextcloud/docker-ci/pull/388
- [x] Sysadmins of NC: Deploy internally

[2022-08-01 11:43] blizzz commented on #394
it's hooked up!

[2022-08-01 11:58] marcelklehr commented on #394
Thanks!

[2022-08-01 12:11] #394 closed, assigned to marcelklehr, rakekniven

[2022-08-01 12:32] nickvergessen commented on #394
Config file was broken, fixed with https://github.com/nextcloud/recognize/pull/265/files

[2022-08-10 11:23] medismail opened #397 "Add project "salattime" to Transifex sync"
- [x] App repo: Add .tx folder including config -> @medismail
- [x] App repo: Add ignore file -> @medismail
- [x] App repo: Add l10n folder -> @medismail
- [x] App repo: Invite "nextcloud bot" with write permissions  -> @medismail
  - [x] Invite pending
- [x] docker-ci: add repo info to config.json -> https://github.com/nextcloud/docker-ci/pull/398
- [x] Sysadmins of NC: Deploy internally to tx sy

[2022-08-11 11:16] medismail commented on #397
Thank you for reply, the ignore file is added.

[2022-08-11 16:06] stefan-niedermann commented on #230
I do think so. The trouble is not when new languages are translated far enough to be *added*, the actual issue is that stale languages are not getting *removed* again when they fall below this mark.

[2022-08-11 16:20] nickvergessen commented on #230
https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh#L119

That is still the case, the thing is there is no code to remove languages before the sync which would then also drop the stuff.

For Server apps that works with this lines:
https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppsTranslations.sh#L27-L28

[2022-08-12 20:05] medismail commented on #397
thanks again great weekend :)

[2022-08-15 12:35] tobiasKaminsky commented on #230
We are doing this here:
https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh#L16

Due to our change to app sub-directory this failed.
Fix is in: https://github.com/nextcloud/docker-ci/pull/399

[2022-08-15 15:45] #230 closed

[2022-08-15 15:59] nickvergessen commented on #230
Now I merged it already, but we check the same folder already with:
https://github.com/nextcloud/docker-ci/blob/master/translations/handlePlainTranslations.sh#L30

[2022-08-22 09:56] smehrbrodt opened #400 "Add project "files_libreoffice_edit" to Transifex sync"
- [x] Transifex: New resource should appear -> @rakekniven
- [ ] Transifex: Do translations and check sync to repo -> @rakekniven
- [x] Add resource to [wiki](https://help.nextcloud.com/t/list-of-resources-and-their-priority-for-translation/78312/) -> @rakekniven

Repo URL: https://github.com/allotropia/nextcloud_files_libreoffice_edit

[2022-08-22 10:00] nickvergessen commented on #397
If I remember correctly invites expire after 7 days. The respective people are now back, so if you could invite the nextcloud bot once again, that would be very helpful.

[2022-08-22 10:11] mgallien commented on #397
Invitation has been accepted
you can proceed

[2022-08-22 13:53] nickvergessen commented on #400
Can you go to https://github.com/allotropia/nextcloud_files_libreoffice_edit/settings/access
And add `nextcloud-bot` with admin permissions please, so it can push the translations?

Also https://github.com/allotropia/nextcloud_files_libreoffice_edit/pull/18 is necessary

[2022-08-22 14:01] smehrbrodt commented on #400
Write access should be enough according to https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-the-transifex-sync

I already added the nextcloud-bot with write access before:

![grafik](https://user-images.githubusercontent.com/3502738/185939566-632a84d6-cf24-4e1b-9127-00aade3d7f96.png)

[2022-08-22 14:07] nickvergessen commented on #400
Okay let's see, as long as no branch protection is set up that should be good enough IIRC.

[2022-08-22 14:13] mgallien commented on #400
Invitation of `nextcloud-bot` has been accepted.
you can proceed

[2022-08-22 14:16] nickvergessen commented on #400
Sync worked: https://github.com/allotropia/nextcloud_files_libreoffice_edit/commit/7895d87ba77d6ee2db128d861ae84a50bbbb5b09

(For now it wiped the files because the values are not stored in Transifex yet).

[2022-08-22 15:33] nickvergessen commented on #400
In the other issue you added:

[2022-08-23 11:56] medismail commented on #397
A new invitation is sent.

[2022-08-23 13:22] medismail commented on #397
Ok I will cancel.

[2022-08-24 07:11] nickvergessen commented on #397
Yeah I assume due to the canceled invite from above.

@medismail can you check if the bot still has access and if not invite it. I assume your canceled invite removed the previous accepted state and removed all permissions.

[2022-08-24 07:16] nickvergessen commented on #397
Reinvite was accepted and it works now.

[2022-08-24 07:16] #397 closed

[2022-08-24 07:21] nickvergessen opened #404 "Translation ignore list behaves unexpected"
- [ ] All ignore lists work with `*` but the `.l10nignore`
- [ ] Even worse: it is a bit random which exclude list is being used. Since the ignore list is decided in the header https://github.com/nextcloud/docker-ci/blob/master/translations/translationtool/src/translationtool.php#L34-L56 before any branch is checked out, the exclude list for all branches is the same instead the one of the branch.

[2022-08-25 14:52] Ivansss opened #405 "Create additional project in transifex for talk-ios plurals"
Create an additional project in transifex for plurals.
e.g. talk-ios-plurals

[2022-08-26 06:43] nickvergessen commented on #405
Seems to work now

[2022-08-26 06:43] #405 closed

[2022-08-30 05:51] nickvergessen commented on #400
Taking over for now:

- [ ] translations-app/handleAppTranslations.sh needs to read the resource name from the `.tx/config` file and rename the pot file to such before running `tx push`

[2022-08-30 10:15] p-bo opened #409 "Fix lang resource not appearing on Transifex please"
According existence of transifex config file in this project it seems, that there was attempt for adding this following instructions:
https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#adding-translations
But it seems, that this wasn't completed yet:
![obrazek](https://user-images.githubusercontent.com/12208593/187410657-8b9bb935-efaf-4bfd-ad96-6aaf5062b809.png)

[2022-08-30 19:10] H2CK opened #407 "Add project "oidc" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] If the app is personal repository: Invite `nextcloud-bot` with write permissions
- [x] Create file `l10n/.gitkeep` with empty content
- [x] Add `.l10nignore` to exclude compiled JS files and thirdparty code, e.g. ignoring compiled javascript assets and composer PHP dependencies in the vendor/ directory:
[code]
- [x] Create file `.tx/config` with the

[2022-08-30 19:16] rakekniven opened #408 "Add resource to wiki"

[2022-09-01 09:46] nickvergessen commented on #409
Transfering this one to the docker-ci repo as the socialsharing apps are handled special because multiple sources are in one repo.

Ref is https://github.com/nextcloud/docker-ci/blob/master/translations/handleAppsTranslations.sh

Will have a look after my vacation

[2022-09-01 11:58] #400 closed

[2022-09-01 12:20] nickvergessen commented on #407
Done from sysadmin side.

[2022-09-10 15:14] #408 closed, assigned to rakekniven

[2022-09-14 04:19] nickvergessen opened #414 "Translation sync for related_resources"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/nextcloud/related_resources/
- [x] If the app is personal repository: Invite `nextcloud-bot` with write permissions
- [x] Create file `l10n/.gitkeep` with empty content
- [x] Add `.l10nignore` to exclude compiled JS files and thirdparty code, e.g. ignoring compiled javascript assets and composer PHP depend

[2022-09-14 04:41] nickvergessen commented on #414
First sync in https://github.com/nextcloud/related_resources/commit/2d81857740ba88691ca9ff6221bac96783f28cf1

[2022-09-14 04:42] #414 closed

[2022-09-16 23:49] pulsejet opened #416 "Add "memories" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/pulsejet/memories
- [x] If the app is personal repository: Invite `nextcloud-bot` with write permissions
- [x] Create file `l10n/.gitkeep` with empty content
- [x] Add `.l10nignore` to exclude compiled JS files and thirdparty code, e.g. ignoring compiled javascript assets and composer PHP dependencies in t

[2022-09-19 08:41] nickvergessen commented on #416
Translation sync worked https://github.com/pulsejet/memories/commit/704eda1d2d066efc55a0ad108ec0c1b46c93edfa

[2022-09-19 08:41] #416 closed

[2022-09-19 22:07] pulsejet commented on #416
Thank you @nickvergessen!

[2022-09-28 10:54] p-bo commented on #409
@nickvergessen
Thanks for picking this, because:

- much more translators will get involved, because without it, they will newer even know about possibility to translate this app - example of benefits for project known in this manner for community of Nextcloud translators
- also, as app is evolving, when some string(s) in app is/are changed/added, in case of continuous translation workflow transla

[2022-09-30 08:50] nickvergessen commented on #409
Works now https://github.com/nextcloud/socialsharing/commit/df8699c7c3d419fd3f37413ebee8c5c9742729d2

[2022-09-30 09:16] p-bo commented on #409
Great! Many thanks, translated already into my language and others will arrive quickly for sure too :-)

[2022-09-30 09:16] #409 closed

[2022-10-05 16:33] rakekniven opened #426 "Add "nc_money" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/powerpaul17/nc_money
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-the-t

[2022-10-06 09:31] powerpaul17 commented on #426
Thanks for opening this up @rakekniven! I finished my tasks but I cannot edit it here.

[2022-10-06 14:25] nickvergessen commented on #248
Similarly for https://gitlab.com/collectivecloud/collectives

[2022-10-06 15:12] nickvergessen commented on #426
Worked now:
https://github.com/powerpaul17/nc_money/commit/be00daa3eaab492b447200a27f86438ff74f0f70

[2022-10-06 15:14] #426 closed, assigned to nobody

[2022-10-10 21:01] j4ym0 opened #435 "Add "tvshownamer" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/j4ym0/nextcloud-tv-show-namer
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup

[2022-10-11 08:01] nickvergessen commented on #435
@j4ym0 there are some faulty strings in there:
https://github.com/j4ym0/nextcloud-tv-show-namer/blob/main/js/script.js#L37

[2022-10-11 08:23] #435 closed

[2022-10-11 08:23] nickvergessen commented on #435
All set up and sync worked

[2022-10-11 10:34] come-nc opened #438 "user_migration translation"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/nextcloud/user_migration
- [ ] If the app is personal repository
    - [ ] Invite `nextcloud-bot` with write permissions
    - [ ] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-t

[2022-10-11 10:45] nickvergessen commented on #438
Sync worked at https://github.com/nextcloud/user_migration/commit/bfbbfd5f3be66792e74179ec877a34d98e4f6810

[2022-10-11 10:45] #438 closed

[2022-10-11 17:38] j4ym0 commented on #435
fixed.

Thanks for setting up

[2022-10-11 18:50] MCMic opened #439 "translate workflow_kitinerary"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/MCMic/workflow_kitinerary
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-

[2022-10-12 09:56] newhinton opened #440 "Translation request for unsplash"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/nextcloud/unsplash
- [ ] If the app is personal repository
    - [ ] Invite `nextcloud-bot` with write permissions
    - [ ] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-the-tra

[2022-10-12 19:28] cwilby opened #441 "Add "nc_workflow_media_converter" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/cwilby/nextcloud-workflow-media-converter
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10

[2022-10-12 19:41] kenda opened #442 "Add "nextcloud-openhab" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/kenda/nextcloud-openhab
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-th

[2022-10-13 09:21] #439 closed

[2022-10-13 09:31] #440 closed

[2022-10-13 09:42] nickvergessen commented on #441
Sync worked https://github.com/cwilby/nextcloud-workflow-media-converter/commit/5ebb2e468cbbda32f4e2ba7050dc48512f304326

[2022-10-13 09:42] #441 closed

[2022-10-17 13:57] andrey18106 opened #449 "Add "mediadc" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/andrey18106/mediadc
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup-of-the-tr

[2022-10-21 09:46] nickvergessen commented on #449
[code]

@andrey18106 you have to remove the branch protection

[2022-10-21 09:52] andrey18106 commented on #449
Removed branch protection.

[2022-10-21 09:54] nickvergessen commented on #449
Sync worked now: https://github.com/andrey18106/mediadc/commit/a3fb56e5beedba5e3947ec1757f7c0b10cedd041

[2022-10-21 09:54] #449 closed

[2022-10-22 04:47] zorn-v opened #453 "Add "sociallogin" to Transifex sync"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/zorn-v/nextcloud-social-login
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#setup

[2022-10-28 08:33] nickvergessen commented on #453
Sync worked:
https://github.com/zorn-v/nextcloud-social-login/commit/6d061a66896729fe681b2fcdd705d430b39627c6

[2022-10-28 08:37] #453 closed

[2022-10-30 11:22] zorn-v opened #457 "Bot does not extract translations from vue files if first arg is not string"
If you have first arg (app name) of `t`/`n` function as var (for example imported from some `common.js`) bot does not extract that string to translate.
https://github.com/zorn-v/nextcloud-social-login/blob/ce92a4d447d1246952dd021c6bb66d7507019cc9/src/components/Settings.vue#L8 for example

Checks are here

https://github.com/nextcloud/docker-ci/blob/8109b94ba1735548365aebb7d5dc88e64c15c1c0/transla

[2022-10-30 12:36] nickvergessen commented on #457
The problem is we can not know the value of the variables to see if it should be added to the extracted resource.

[2022-10-30 12:51] zorn-v commented on #457
No, this value is just ignored. Also extract from js works fine with it.
For `t`
[code]
For `n`
[code]

As you can see `matches[1]` (app name) does not take into account

[2022-10-31 07:57] #457 closed

[2022-10-31 08:15] nickvergessen commented on #457
Sociallogin jumped from 66 to 79 strings on transifex, so seems to have worked

[2022-11-09 11:30] julien-nc opened #466 "Add integration apps"
# 👤 App repository

- [x] Link to your repository:
    * https://github.com/julien-nc/integration_dropbox
    * https://github.com/julien-nc/integration_excalidraw
    * https://github.com/julien-nc/integration_mattermost
    * https://github.com/julien-nc/integration_nuiteq
    * https://github.com/julien-nc/integration_onedrive
    * https://github.com/julien-nc/integration_zimbra
    * https://

[2022-11-09 11:30] julien-nc commented on #466
refs #465

[2022-11-09 12:51] nickvergessen commented on #466
Was able to run some of them, but the following 4 are blocked by branch protection:

* julien-nc integration_dropbox
* julien-nc integration_nuiteq
* julien-nc integration_zimbra
* julien-nc picker

[2022-11-09 14:15] nickvergessen commented on #466
All worked now

[2022-11-09 14:15] #466 closed

[2022-11-10 16:15] rotdrop opened #467 "Request translations for pdf_downloader app"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/rotdrop/nextcloud-app-pdf-downloader
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.htm

[2022-11-10 16:38] rotdrop opened #468 "Request translations for files_archive app"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/rotdrop/nextcloud-app-files-archive
- [x] If the app is personal repository
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html

[2022-11-11 06:42] nickvergessen commented on #467
The script of our translation sync does that automatically. But also okay to be done manually of course.

[2022-11-11 06:45] nickvergessen commented on #467
Since you did not tick it:

Did you invite the bot already? That is necessary because that account will push the translations back to your repository

[2022-11-11 06:45] nickvergessen commented on #468
Since you did not tick it:

Did you invite the bot already? That is necessary because that account will push the translations back to your repository

[2022-11-11 06:54] rotdrop commented on #467
Ah, sorry. Misunderstood this. The project is public but of course, not everyone has write permissions. I suppose "the repository is private" means that it does not belong to an organisation. Should have been clear to me ...

[2022-11-11 06:56] nickvergessen commented on #467
In fact it's even "Not to our Nextcloud organisation"

Let me rephrase the template

[2022-11-11 07:05] rotdrop commented on #467
Perhaps one further comment: the template states "invite with write permissions". I think that I can only invite people, which hopefully will then have write-permissions (as the repo is already readable). But there are no controls to set the permission level.

[2022-11-11 07:49] nickvergessen commented on #467
Yeah should be good enough.

[2022-11-11 07:54] rotdrop commented on #467
I meant: perhaps the instructions could be adjusted? I was searching for the write-permission controls in the Github UI. But maybe I am the only one with this experience, so ... just leave it.

[2022-11-11 11:40] rotdrop commented on #467
- How to handle the case when there are issues with the translations received from transifex?
- Is it possible to upload existing translations first to transifex in order to speed up the initial translation process?

[2022-11-11 11:55] p-bo commented on #467
@rotdrop

Do you mean that something is wrongly translated?

There is upload file button on Transifex, not sure regarding import data format there
![obrazek](https://user-images.githubusercontent.com/12208593/201335350-36c5bf1c-bdf1-42c6-9d83-3e3cddbbb401.png)

[2022-11-11 12:03] rotdrop commented on #467
Yes.

Thanks for your hints! I will have look once things are set up for the app.

[2022-11-11 12:09] p-bo commented on #467
Then fix it on Transifex (after few hours it will be synchronized into source code on git) if you are member of translation team of that language. If it is for other language, then there is still possible to insert better translation and save it as suggestion (and perhaps write - trough messages on Transifex - about it to previous translator / lang admin to use it instead).

Glad to help :-)

[2022-11-11 12:54] nickvergessen commented on #467
Sync worked:
https://github.com/rotdrop/nextcloud-app-pdf-downloader/commit/4e5701b84903f36cd309e7352ac066ddf92bfa22

[2022-11-11 12:54] #467 closed

[2022-11-11 12:55] nickvergessen commented on #468
Sync worked:
https://github.com/rotdrop/nextcloud-app-files-archive/commit/bb166ad7ea9b14b133194268123d75dc29db78f7

[2022-11-11 12:55] #468 closed

[2022-11-11 13:37] rotdrop opened #471 "Uploading existing manually created translations to transifex after switching to transifex"
Thanks for your hints! I will have look once things are set up for the app.

_Originally posted by @rotdrop in https://github.com/nextcloud/docker-ci/issues/467#issuecomment-1311613567_

If one already has translations for ones app (which of course must fit into the used tool-chain: GNU gettext) then it is quite easy to upload existing translations to transifex. However, there are some pitfalls:

[2022-11-11 13:52] nickvergessen commented on #471
I uploaded your previous de/*.po files for your apps

[2022-11-11 13:58] nickvergessen commented on #471
I also triggered another manual sync for both your apps and that brought back the german strings again:
* https://github.com/rotdrop/nextcloud-app-files-archive/commit/8f6e4a5a67543ff5d52ef84055f68be2eb32265c#diff-945df1d457e21279690c9addf5cf481a4dcc4a9aa7c468559314747989849064
* https://github.com/rotdrop/nextcloud-app-pdf-downloader/commit/fa9639dadeeb4ba1683bb0b1c4bb91487545b59e#diff-7c35eadec8

[2022-11-11 13:58] rotdrop commented on #471
Thank you, however, I also uploaded the translations for the pdf_downloader app which appeared not to be present (or I just overlooked that) and acutally now see that the translations for the pdf_downloader app are already there.

So many thanks for taking care of that.

Would that be the usual service from your side? In that case we should just close this issue as superfluous.

[2022-11-11 14:00] nickvergessen commented on #471
Well this is a one time thing.

Most apps don't have translations before hand. I only ever saw manual l10n/*js(on) files being there, basically never PO or POT files.
But we could add it to the app maintainer steps

[2022-11-11 14:03] rotdrop commented on #471
There is an issue, I thing: while everything works for the "pdf_downloader" app it appears that in the "files_archive" app -- that was the one with the merge-conflict and the pull-request for deleting the translationsfiles/ directory -- now there is no translationsfiles/ directory, also not after the second sync.

[2022-11-11 14:12] nickvergessen commented on #471
The directory is not supposed to be there at all. It is a temporary directory inside the sync job.
You can savely delete it and it will continue to work just fine.

[2022-11-11 14:15] rotdrop commented on #471
Ok, great. Interestingly, if it is there then Transifex will happily sync its template `.pot` and also the `.po` translation files which is the case for the pdf_downloader app ATM.

So kind thanks for the hints.

[2022-11-11 14:17] rotdrop commented on #471
I would vote against adding it. If I am really the only nerd which is doing such things then one should not confuse the others.

I am closing this issue now. Thanks again!

[2022-11-11 14:17] #471 closed

[2022-11-23 19:16] rullzer opened #473 "Translations for twofactor_reminder app"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/rullzer/twofactor_reminder
- [x] If the app is not in the Nextcloud organisation
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n

[2022-11-25 11:19] nickvergessen commented on #473
Translation worked:
https://github.com/rullzer/twofactor_reminder/commit/977d65aa13995c2b8e842be98b158786dd8126ee

[2022-11-25 11:21] #473 closed

[2022-11-28 19:21] te-online opened #475 "Transifex translation for files_linkeditor"
# 👤 App repository

**To be done by you**

- [x] Link to your repository: https://github.com/te-online/files_linkeditor/
- [x] If the app is not in the Nextcloud organisation
    - [x] Invite `nextcloud-bot` with write permissions
    - [x] Make sure all translated branches do **not** have branch protection enabled, see https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10

[2022-11-29 10:16] nickvergessen commented on #475
Will have a look later this week